@model JJTrailer.Library.Career

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Career</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jobCategory.JobCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobCategory.JobCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobLocatoin.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobLocatoin.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StillAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StillAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employmentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employmentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobQualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobQualification)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
