@model IEnumerable<JJTrailer.Library.Career>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.jobCategory.JobCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobLocatoin.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StillAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employmentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobQualification)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.jobCategory.JobCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobLocatoin.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePosted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StillAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employmentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobQualification)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
