<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--departmen menu-->
    <link href="~/Content/dropdown.css" rel="stylesheet" />
    <link href="~/Content/amzonmenu.css" rel="stylesheet" />
    <!--search-->
    <link href="~/Content/jquery.typeahead.css" rel="stylesheet" />
    <link href="~/Content/header.css" rel="stylesheet" />
</head>
<body>
    <!--nav bar-->
 @{ Html.RenderPartial("_navbar1");}
    <!--second navbar-->
    @{ Html.RenderPartial("_navbar2");}
    <div class="container-fluid ">
            <div class="row">
                <div class="col-md-3" style="padding-left:0;">
                    Shop by Department <span class="caret"></span>
                    @Html.Partial("_departmentmenu")
                </div>
                <div class="col-md-9 body-content"><br />
                    @RenderBody()
                </div>

            </div>

        <hr />
     @Html.Partial("_footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!--dropdown2-->
    <script src="~/Scripts/dropdown/dropdown.js"></script>
    <script src="~/Scripts/amazonmenu/amazonmenu.js"></script>
    <!--search-->
    <script src="~/Scripts/jquery.typeahead.js"></script>
    <!--header-->
    <script src="~/Scripts/Spritely/jquery.spritely.js"></script>
    <script src="~/Scripts/imageliquid/imgLiquid.min.js"></script>
    <!--init code-->
    <script src="~/Scripts/initcode.js"></script>
    
    @Html.Partial("_shoppingCart")
    @Html.Partial("_Account")
 @RenderSection("scripts", required: false)
</body>
</html>
