
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <!--Dashboard-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne-1">
            <h4 class="panel-title">
                <a data-parent="#accordion" href=@Url.Action("Index", "Default", new { area="Admin"})>
                    Dashboard
                </a>

            </h4>
        </div>
    </div>
    <!--Catalog-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Catalog
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Products", "Index", "Products", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Images Manager", "Index", "ImageLibs", new { area = "Admin" }, null)</li>

                </ul>

            </div>
        </div>
    </div>
    <!--Frontpage-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Front page
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    @*<li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Products", "Index", "Products", new { area = "Admin" }, null)</li>*@
                    <li>search</li>
                  
                    <li>@Html.ActionLink("Carousel", "Index", "Carousels", new { area = "Admin" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <!--customers-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Customers
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>manage users</li>
                    <li>orders</li>

                </ul>
            </div>
        </div>
    </div>
</div>