
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <!--Dashboard-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne-1">
            <h4 class="panel-title">
                <a data-parent="#accordion" href=@Url.Action("Index", "Default", new { area="Admin"})>
                    Dashboard
                </a>

            </h4>
        </div>
    </div>
    <!--Catalog-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Catalog
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>@Html.ActionLink("Departments", "Index", "Departments", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Products", "Index", "Products", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Images Manager", "Index", "ImageLibs", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("3D Manager", "Index", "STLfilemanagers", new { area = "Admin" }, null)</li>

                </ul>

            </div>
        </div>
    </div>
 
    <!--Trailers-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne2">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsone2" aria-expanded="false" aria-controls="collapseone2">
                    Trailers
                </a>
            </h4>
        </div>
        <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>@Html.ActionLink("Trailers", "Index", "Trailers", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Custom Trailers", "Index", "CustomTrailers", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Specifications", "Index", "specifications", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Options", "Index", "Options", new { area = "Admin" }, null)</li>

                </ul>

            </div>
        </div>
    </div>
      <!--Frontpage-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Front page
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    @*<li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Products", "Index", "Products", new { area = "Admin" }, null)</li>*@
                    <li>search</li>

                    <li>@Html.ActionLink("Carousel", "Index", "Carousels", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Department Menu", "Index", "DepartmentMenus", new { area = "Admin" }, null)</li>

                </ul>
            </div>
        </div>
    </div>
    <!--customers-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Customers
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>manage users</li>
                    <li>orders</li>
                    <li>@Html.ActionLink("Address", "Index", "Addresses", new { area = "Admin" }, null)</li>


                </ul>
            </div>
        </div>
    </div>
    <!--Career-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingfour">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    Careers
                </a>
            </h4>
        </div>
        <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>@Html.ActionLink("Resumes", "Index", "Resumes", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Job Openings", "Index", "Careers", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Job Locations", "Index", "JobLocations", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Job Categories", "Index", "JobCategories", new { area = "Admin" }, null)</li>

                </ul>
            </div>
        </div>
    </div>
    <!--Three JS-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingsix">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                    Sandbox
                </a>
            </h4>
        </div>
        <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                 
                    <li>@Html.ActionLink("Threejs", "Threejs", "Default", new { area = "Admin" }, null)</li>


                </ul>
            </div>
        </div>
    </div>
</div>