@model IEnumerable<JJTrailer.Library.Carousel>

@{
    ViewBag.Title = "Index";
}

<h2>FrontPage>Carousel</h2>

@using (Html.BeginForm("Index", "Carousels", FormMethod.Post))
{
<table class="table">
    <tr>
        <th>@Html.DropDownList("carouselview", null, "select one for the homepage", htmlAttributes: new { @class = "form-control" })</th>
        <th><input type="submit" value="Generate menu"  /></th>

        <th><a href="#carouseldiv"><p>Preview</p></a></th>

    </tr>
</table>
}
<table class="table">
    <tr>
        <th><p> @Html.ActionLink("Create New", "Create")</p></th>

    </tr>
</table>
<div id="carouseldiv">
    @Html.Partial("_carousel")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
